@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");

body {
    font-family: "Montserrat", sans-serif;
}

.title {
    font-size: 48px;
    margin-top: 48px;
    margin-bottom: 24px;
}

.birth-info {
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 78px;
}
.description {
    font-size: 14px;
}

.section-title {
    font-size: 24px;
    margin-bottom: 0;
}

.list {
    font-size: 14px;
    padding-left: 10px;
}

.position {
    color: #ff3232;
}

.aside {
    width: 310px;
    background-color: #1a142d;
    color: #fff;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    margin-right: 67px;
}

.photo {
    width: 100%;
}

.main {
    width: 467px;
}

.container {
    display: flex;
}
